xmpp/*.pyc
dns/*pyc
chardet/*.pyc
simplejson/*.pyc
*.pyc
paste/*.html
paste/*.txt
settings/*.back
log/*.txt
backup/*.ru
backup/*.com
backup/*.org
backup/*.in
backup/*.acl
isida.pid
logs/chatlogs/*.ru
logs/chatlogs/*.com
logs/syslogs/*.ru
logs/syslogs/*.com
plugins/.*.*
plugins/_*.*
plugins/poke.txt
settings/acl.db
settings/agestat.db
settings/aliases
settings/answer.db
settings/answers.db
settings/blacklist.db
settings/commonoff
settings/conf
settings/conference.config
settings/config.py
settings/dist_user.db
settings/empty.db
settings/feed
settings/hidenroom.db
settings/ignore
settings/ignoreban.db
settings/jidbase.db
settings/karma.db
settings/locale
settings/logroom.db
settings/muclock.db
settings/owner
settings/owner.config
settings/sayto.db
settings/saytoowner.db
settings/spy.db
settings/starttime
settings/talkers.db
settings/temporary.ban
settings/topbase.db
settings/ver
settings/version
settings/wtfbase*.db
update.log
.svn
DNS/.svn
backup/.svn
chardet/.svn
locales/.svn
log/.svn
logs/.svn
logs/chatlogs/.css/.svn
logs/chatlogs/.css/i/.svn
logs/chatlogs/.smiles/.svn
logs/chatlogs/.smiles/Android/.svn
logs/chatlogs/.svn
logs/syslogs/.css/.svn
logs/syslogs/.css/i/.svn
logs/syslogs/.svn
paste/.css/.svn
paste/.css/i/.svn
paste/.svn
plugins/.svn
plugins/chat/.svn
plugins/chat/en/.svn
plugins/chat/ru/.svn
plugins/chat/ua/.svn
settings/.svn
simplejson/.svn
tld/.svn
xmpp/.svn
answers.txt
plugins/ignored.txt
plugins/*.back
plugins/site.py
settings/-acl.db
settings/agestat.db-journal
settings/groupid.db
site/