isida.pyc
settings/config.py
settings/_*
tmp/isida.pid
tmp/starttime
tmp/ver*
tmp/answers.txt
lib/DNS/*.pyc
lib/chardet/*.pyc
lib/xmpp/*.pyc
data/poke.txt
data/ignored.txt
data/paste/*.txt
data/paste/*.html
data/paste/*.jpg
data/paste/*.JPG
data/paste/*.gif
data/paste/*.png
data/paste/*.
data/backup/*.acl
data/backup/*.back
data/backup/*@*
data/conflogs/chatlogs/*@*
data/conflogs/syslogs/*@*
data/conflogs/*
data/log/*.txt
data/log/*.log
data/custom_censor.txt
plugins/_*.py
