isida.pyc
settings/config.py
settings/_*
tmp/isida.pid
tmp/starttime
tmp/ver*
lib/DNS/*.pyc
lib/chardet/*.pyc
lib/xmpp/*.pyc
data/poke.txt
data/ignored.txt
data/paste/*.txt
data/paste/*.html
data/backup/*.acl
data/backup/*.back
data/backup/*@*
data/conflogs/chatlogs/*@*
data/conflogs/syslogs/*@*
data/log/*.txt
data/log/*.log
data/custom_censor.txt
